*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
settings_*.py
db.sqlite3
django.log

supervisord.log
supervisord.pid


# Mobile
*.apk

assassin_mobile/.classpath
assassin_mobile/bin/resources.ap_
assassin_mobile/bin/jarlist.cache
.metadata/*
assassin_mobile/bin/*
